//ec2-13-58-177-100.us-east-2.compute.amazonaws.com:8081/repository/npm-group/:_authToken=NpmToken.e16aff1c-2ce9-3004-ac4e-b66093f87b7d
always-auth=true
registry=http://ec2-13-58-177-100.us-east-2.compute.amazonaws.com:8081/repository/npm-group/

