ec2-3-138-247-68.us-east-2.compute.amazonaws.com:8081/repository/postboard-client/:_authToken=NpmToken.e16aff1c-2ce9-3004-ac4e-b66093f87b7d
email=chiemelaumeh1@gmail.com

always-auth=true
registry=http://ec2-3-138-247-68.us-east-2.compute.amazonaws.com:8081/repository/npm-group/
