//ec2-13-58-177-100.us-east-2.compute.amazonaws.com:8081/repository/npm-group/:_authToken=NpmToken.0f771608-7d5a-33f4-8604-2541ccd3e756
email=chiemelaumeh1@gmail.com
always-auth=true
registry=http://ec2-13-58-177-100.us-east-2.compute.amazonaws.com:8081/repository/npm-group/
